
<section class="about-us">
    <div class="container">
      <br>
      <h2 style="text-align: center; color :rgb(221,122,9)">About  MOVIES </h2>
      <p style="color : wheat; text-align: center;" ><br>
        Movies is a community-built movie and TV database. Our mission is to provide a comprehensive
        collection of metadata about movies and TV shows, empowering users to discover new entertainment options.
      </p>
  
      <div class="highlights">
        <div class="highlight">
          <h3>Community-Driven Platform</h3>
          <p>
            MOVIES relies on contributions from its global community to maintain and enrich its database. Users can
            contribute data, rate movies, write reviews, and engage with fellow movie enthusiasts.
          </p>
          <i class="fas fa-users highlight-icon"></i>

        </div>
      
        <div class="highlight">
          <h3>Extensive Movie & TV Show Information</h3>
          <p>
            Our database contains a vast collection of movies, TV shows, cast information, reviews, ratings, trailers, and
            much more. We strive to offer a comprehensive source of information for all kinds of entertainment content.
          </p>
          <i class="fas fa-film highlight-icon"></i>

        </div>
      
        <div class="highlight">
          <h3>User-Friendly Interface</h3>
          <p>
            MOVIES provides a user-friendly platform, allowing users to easily search, browse, and discover movies and TV
            shows. The intuitive interface ensures a smooth experience for all types of users.
          </p>
          <i class="fas fa-desktop highlight-icon"></i>

        </div>
      </div>
      
    </div>
  </section>
  