<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo" style="color:  rgb(221, 122, 9);">
            Movies
          </a>
          <p>Movies is dedicated to providing comprehensive information about movies and TV shows through an intuitive interface.</p>

          <div class="footer_social">
            <a href="" class="i">
              <i class="fa fa-facebook" aria-hidden="true" style="color:rgb(221, 122, 9);"></i>
            </a>
            <a href="" class="i">
              <i class="fa fa-twitter" aria-hidden="true" style="color:rgb(221, 122, 9); "></i>
            </a>
            <a href="" class="i">
              <i class="fa fa-linkedin" aria-hidden="true" style="color:rgb(221, 122, 9);"></i>
            </a>
            <a href="" class="i">
              <i class="fa fa-instagram" aria-hidden="true" style="color:rgb(221, 122, 9);"></i>
            </a>
           
          </div>
        </div>
      </div>
      <div class="col-md-5 footer-col">
        <h4 style="color:  rgb(221, 122, 9);">
          Newsletter
        </h4>
        <p>
          Subscribe to our newsletter for the latest updates and news about movies!
        </p>
        <!-- Add your newsletter form here -->
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="input" id="newsletterEmail" placeholder="Your Email">
          </div>
          <button type="submit"  class="btn" style="background-color:  rgb(221, 122, 9);">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="">Movies</a><br><br>
       
      </p>
    </div>
  </div>
</footer>
