<section class="book_section layout_padding">
    <div class="container" style="margin-top: -4rem;">
      <div class="row">
        <div class="col-md-3">
          <!-- Left-aligned genre navigation -->
          <nav class="navigation">
            <a class="i" (click)="filterMoviesByGenre(null)">All</a>
            <a class="i" *ngFor="let genre of genres" (click)="filterMoviesByGenre(genre.id)"  [class.active]="activeGenre === genre.id">
              {{ genre.name }}
            </a>
          </nav>
        </div>
        <div class="col-md-9">
          <!-- Movies display area -->
          <div class="container">
            <div (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
                class="row">
                <div class="col-md-4 mb-4" *ngFor="let movie of movies">
                    <div class="card">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                            alt="{{ movie.title }} Poster">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <a [routerLink]="['/details', movie.id]" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  